@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --roxo-principal: #5457B6;
    --roxo-container-likes: #F5F6FA;
    --roxo-background: #F5F6FA;
    --roxo-hover: #AAABDB;
    --texto-comentarios: #67727E;
    --vermelho-delete: #ed6468;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}




body {
    background-color: var(--roxo-background);
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    margin-top: 6vh;
    max-width: 735px;
    height: auto;
}

.coments, .escrever-comentario {
    display: flex;
    gap: 20px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 0.3em rgb(252, 250, 255);
    margin-bottom: 30px;    
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    
}

.escrever-comentario {
  display: flex;

}



.replys {
    margin-left: 60px;
    padding-left: 20px;
    border-left: 2px solid #ebebeb;
}

.likes {
    background-color: var(--roxo-container-likes);
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 83px;
    border-radius: 10px;
    padding: 4px;
}


.likes p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: var(--roxo-principal);
}

.icon-plus {
    width: 11px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 8px;
    cursor: pointer;

}

.icon-minus {
    width: 11px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 4px;
    padding: 8px;
    padding-bottom: 11px;
    cursor: pointer;
}

.foto, .foto img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.container-perfil, .container-reply-delete {
    display: flex;
    width: fit-content;
    align-items: center;
}

.container-reply-delete{
    gap: 20px;
}

.container-superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container-comentarios {
    width: 100%;
    justify-content: start;
}

.nickname {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 15px;
}

.tag-you {
    background-color: var(--roxo-principal);
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    margin-left: 8px;
}

.date-publish {
    font-family: 'Rubik', sans-serif;
    color: var(--texto-comentarios);
    font-size: 16px;
}

.reply, .edit, .delete {
    background-color: white;
    color: var(--roxo-principal);
    border: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    transition: 0.3s;
}

.reply:hover, .edit:hover, .delete:hover {
    opacity: 50%;
}

.delete {
    color: var(--vermelho-delete);
}

.reply img, .edit img, .delete img {
    width: 14px;
    margin-right: 4px;
    vertical-align: middle;
}

.delete img {
    width: 12px;
}


.comentario, .delete-p {
    color: var(--texto-comentarios);
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.delete-p {
    margin-bottom: 15px;
}

.foto-perfil, .foto-perfil img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.escrever-comentario textarea {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: var(--texto-comentarios);
    resize: none; /*remove the resize handle on the bottom right*/
    border: 1px solid #ebebeb;
    border-radius: 5px;
    min-height: 50px;
    overflow: auto;
    padding: 15px 20px;
    width: 70%;
}

.escrever-comentario textarea:focus {
    outline: 1px solid var(--roxo-principal);
}

.escrever-comentario textarea::placeholder {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.escrever-comentario button {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: var(--roxo-principal);
    color: white;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 42px;
    cursor: pointer;
}

.escrever-comentario button:hover {
    background-color: var(--roxo-hover);
}


.container-delete-section {
    background-color: white;
    width: 310px;
    height: 180px;
    border-radius: 6px;
    padding: 25px;
    align-self: center;
}

.delete-h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.no-cancel, .yes-delete {
    background-color: var(--texto-comentarios);
    color: white;
    width: 149px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.yes-delete {
    background-color: var(--vermelho-delete);
}

.no-cancel:hover, .yes-delete:hover {
    opacity: 50%;
}

.delete-buttons {
    display: flex;
    justify-content: space-between;
}

.delete-section {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.esconder {
    display: none;
}
